<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>reallogin</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="../static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="../static/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="../static/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../static/assets/css/Pretty-Login-Form.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background: rgba(239,251,245,0.65);">
        <div class="container"><a class="navbar-brand" href="/home">it 서점</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <form class="form-inline mr-auto" target="_self" method="post" action="/book">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search" style="box-shadow: 0px 0px rgb(20,161,205);margin-right: 5px;"></i></label><input class="form-control search-field" type="search" id="search-field" name="search" style="box-shadow: 0px 0px rgb(20,161,205);border-style: solid;border-color: rgba(51,51,51,0.94);border-bottom-width: 3px;border-bottom-style: solid;border-radius: 100px;width: 317px;"></div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/mypage/order">주문</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mypage/cart">장바구니</a></li>
                </ul><a class="btn btn-light d-xl-flex justify-content-xl-end action-button" role="button" href="/mypage">Login</a></div>
        </div>
    </nav>
    <div class="features-boxed" style="background: rgb(255,255,255);">
        <div class="container">
            <div class="intro"></div>
        </div>
    </div>
    <div class="footer-basic">
        <div class="row login-form">
            <div class="col-md-4 offset-md-4">
                <h2 class="text-center form-heading">로그인</h2>
                <form class="custom-form" method="post" action="/login">
                    <div class="form-group"><input class="form-control" type="text" placeholder="Email" name="customer_email"></div>

                <div class="form-group"><input class="form-control" type="password" placeholder="Password" name="customer_password"></div>
                    <button class="btn btn-light btn-block submit-button" type="submit">로그인</button>
                    <button class="btn btn-light btn-block submit-button" type="button" onClick="location.href='/sign'" style="background: rgb(224,108,108);">회원가입</button>
                </form>
            </div>
        </div>
        <footer>
            <div class="social" style="margin-top: 50px;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"></li>
            </ul>
            <p class="copyright">it서점 © 2020</p>
        </footer>
    </div>
    <main></main>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>